p.sub-title1 {
    color: aqua;
}
p#sub-title2 {
    color: coral;
}
.company{
    font-weight: 800;
}

h1 {
    color: brown;
    font-size: 50pt;
    font-weight: bold;
}

.outer{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
.child-1,.child-2,.child-3,.child-4{
    width: calc(50% - 6px);
    height: calc(50% - 6px);
    margin: 2px;
    background-color: chartreuse;
}
.child-1{
    border-radius: 50% 50% 0 50%;
}
.child-2{
    border-radius: 50% 50% 50% 0;
}
.child-3{
    border-radius: 50% 0 50% 50%;
}
.child-4{
    border-radius: 0 50% 50% 50%;
}